.bg-background-main{
    background: #ffffff;
}

.style-effect-div{
    background: no-repeat;
    background-image: linear-gradient(rgba(138, 136, 136, 0.836), rgb(13, 15, 12) );
    height: 9px;
}

.style-img-snake:hover{
    background: rgba(0, 231, 77, 0.884);
    transition: all calc(0.12s * 20) ease-in-out;
    border: 4px inset rgba(0, 0, 0, 0.726); 
    cursor: pointer;

}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
}

/* Style title of game */
.title-game-snake{
    background-image: linear-gradient(rgba(30, 236, 75, 0.836), rgb(13, 15, 12) );  
    border: 4px groove #ffffff00 ;
    color: #ffffffc7;
}

.btn {
    margin: auto;
    align-items: center;
}


/*--------------- Style Anchor link -------------------- */
.button-ancora-doe-criptomoedas {
    list-style: none;
    font-style: none;
    text-decoration: none;
}

.button-ancora-play-game {
    list-style: none;
    font-style: none;
    text-decoration: none;
}

.button-ancora-tutorial {
    list-style: none;
    font-style: none;
    text-decoration: none;
}

/* Style button-soundtrack */
.button-soundtrack{
    width: 4.1%;
    border-style: none;
    background: #FFF;
 
}

.button-no-soundtrack{
    width: 4%;
    border-style: none;
    background: #FFF;
}

/* Style img soundtrack and no-soundtrack */
.img-soundtrack{
    width: 30px;
    border: 2px none rgb(84, 102, 204);
    border-radius: 40%;
    padding: 2px;
}

.img-no-soundtrack{
    width: 29px;
    border: 2px none rgb(84, 102, 204);
    border-radius: 40%;
    padding: 1px;
}


/* Style img soundtrack and no-soundtrack in Hover */

.img-soundtrack:hover{
    width: 30px;
    border: 4px inset rgba(10, 136, 37, 0.87);
    border-radius: 40%;
    padding: 2px;
    background-color: rgba(145, 142, 142, 0.377);
}

.img-no-soundtrack:hover{
    width: 29px;
    border: 2px solid rgba(121, 121, 121, 0.877);
    border-radius: 40%;
    padding: 1px;
    background-color: rgba(145, 142, 142, 0.623);
}

/* Style img Github and Linkedin */
.img-linkedin{
    width: 20px;
}

.img-github{
    width: 20px;
}


.img-linkedin:hover{
   width: 17px;
}

.img-github:hover{
    width: 17px;
}


/* Style background my footer */
.bg-footer{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(77, 73, 73) );
}


